.header {
    display: flex;
    justify-content: center;
    margin-bottom: 19px;
}

.header div {
    width: 65px;
    height: 35px;
    border-bottom: 2px solid #D9D9D9;
    text-align: center;
    color: #D9D9D9;
}

.header div:hover {
    cursor: pointer;
}

.header div:first-child{
    margin-right: 16px;
}

.header .chosen {
    border-color: #1890FF;
    color: #1890FF;
}

